@font-face {
  font-family: "MetaxSans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/inter-400.ttf") format("truetype");
}

@font-face {
  font-family: "MetaxSans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/assets/fonts/inter-500.ttf") format("truetype");
}

@font-face {
  font-family: "MetaxSans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/assets/fonts/inter-600.ttf") format("truetype");
}

@font-face {
  font-family: "MetaxSans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/assets/fonts/inter-700.ttf") format("truetype");
}

@font-face {
  font-family: "MetaxSans";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("/assets/fonts/inter-800.ttf") format("truetype");
}

@font-face {
  font-family: "MetaxMono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/jetbrainsmono-400.ttf") format("truetype");
}

@font-face {
  font-family: "MetaxMono";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/assets/fonts/jetbrainsmono-500.ttf") format("truetype");
}
